.flex-container{
    display: flex;
    flex-flow: row wrap;
    /*you can reverse a wrap by reverse wrap hat will reverse the columns and not columns*/
    /*The flex-flow property is a shorthand property for the flex-direction and the flex-wrap properties.*/
   
    background-color: dodgerblue;
    /*you can change the rows into columns by flex-direction*/
    /* flex wrap changes the number of boxes in a row and column*/
    justify-content: center;
    /*The "justify-content: center;" aligns the flex items at the center of the container:*/
    align-items:baseline;/*baseline aligns items around the content being centered*/
    /*The align items aligns the flex items at the center of the container length wise*/
    height: 600px;
    overflow: scroll;
    /*Perfect Centering
In the following example we will solve a very common style problem: perfect centering.

SOLUTION: Set both the justify-content and align-items properties to center, and the flex item will be perfectly centered:*/

}
.flex-container > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
@media (max-width: 800px){
    .flex-container{
        flex-direction: column;
    }
}