.s1{
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}
.s2{
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
}
.s3{
    font-family:"lucida console",'Courier New', monospace;
    font-size: 20px;
}
.s4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.s5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.s6{
    font-family: 'Playpen Sans', cursive;
font-style: italic;
}