.gradient1{
    background-color: red;
    height: 200px;
    background-image: repeating-linear-gradient(18deg,green ,red ,yellow);
}
#grad5 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-linear-gradient(45deg, red 0px, red 10px, red 10px, yellow 10px, yellow 20px);
  }
  #grad1{
    height: 100px;
    width: 200px;
    background-color: blue;
    background-image: repeating-radial-gradient(blue 5%,red 15%,green 60%) ;
  }
  #grad2{
    height: 200px;
    width: 200px;
    background-color: violet;
    background-image: conic-gradient(violet,pink,white);
    border-radius: 50%;
  } 
  
