.navlist{
    position: relative;
}
.navlist li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}
.navlist a, .navlist li{
    height: 44px;
    display: block;
}
.home{
    left: 0px;
    width: 46px;
    object-fit:fill;
    background: url(painting-mountain-lake-with-mountain-background_188544-9126.avif);
    background-size: 100%;

}
.prev{
    left: 63px;
    width: 43px;
    background: url(background\ image.jpg);
    background-size: 100%;
}
.next{
    left: 129px;
    width: 43px;
    background: url(background\ image.jpg);
    background-size: 100%;
}